<nav class="sticky-nav">
  <div class="nav-content">
    <%= image_tag 'logo.png', alt: 'Company Logo', class: 'nav-logo' %>
    <ul class="nav-links">
      <li><%= link_to '首页', root_path %></li>
      <li><%= link_to '关于我们', about_path %></li>
      <li><%= link_to '服务展示', service_path %></li>
      <li><%= link_to '新闻中心', news_path %></li>
    </ul>
  </div>
</nav>
